{% extends 'auto_panda/base.html' %}
{% block title %}Homepage{% endblock %}
{% block body_block %}
<div class="splash-container">
    <div class="splash">
		<h1 class="splash-head">UPLOAD</h1>
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p><input class="pure-button pure-button-primary" type="file" name="docfile" id="id_docfile" multiple /></p>
			<p><input class="pure-button pure-button-primary" type="submit" value="Upload" /></p>
		</form>
    </div>
</div>
{% endblock %}
