{% extends 'auto_panda/base.html' %}
{% block title %}Registration{% endblock %}
{% block body_block %}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">REGISTER</h1>
		{% if registered %}
		<p class="splash-subhead">
			Thanks for registering!
		</p>
		{% else %}
        <form id="user_form" method="post" action="/auto_panda/register/"
                enctype="multipart/form-data">
			{% csrf_token %}
			{{ user_form.as_p }}
			<input type="submit" class="pure-button pure-button-active" name="submit" value="Register" />
		{% endif %}
    </div>
</div>
{% endblock %}